@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

nav a.active{
    color:rgb(50, 128, 191);
    font-weight: bold;
}

.loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #000;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar css */
.navbar{
    font-family: "Poppins", sans-serif; 
    font-size: 17px;
    line-height: 26px;
    /* text-transform: uppercase; */
    background-color: aqua;
};
